<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FotoBooking - {{title}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1 style="padding: 20px" class="main-header mb-0">FotoBooking</h1>

      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#">FotoBooking</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-light" aria-current="page" href="#"
                  >Newborn</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Weddings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Pets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Products</a>
              </li>
              {% if session.get('userType') == "client" %}
              <li class="nav-item">
                <button type="button" class="btn btn-primary position-relative mt-1">
                  <i class="fa fa-shopping-cart" style="font-size:24px"></i>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger mt-2">
                    {{ session.get('cart', {}).get('items', [])|length }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </li>
              {% endif %}
            </ul>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-light" type="submit">Search</button>
            </form>
            <div class="d-flex ms-2">
              {% if session.get('logged_in') %}
                <span class="navbar-text text-light me-2">Welcome, {{ session.get('user').firstName }}!</span>
                {% if session.get('userType') == 'vendor' or session.get('userType') == 'admin' %}
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <button class="btn dropdown-toggle btn-outline-light me-2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-gear" style="font-size:24px"></i> Setting
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Manage Portfolio</a></li>
                        {% if session.get('userType') == 'admin' %}
                          <li><a class="dropdown-item" href="#">Admin Panel</a></li>
                        {% endif %}
                      </ul>
                    </li>
                  </ul>
                {% endif %}
                  <a href="{{ url_for('main.logout') }}" class="btn btn-outline-light">Logout</a>
              {% else %}
                <a href="{{ url_for('main.login') }}" class="btn btn-outline-light me-2">Login</a>
                <a href="{{ url_for('main.register') }}" class="btn btn-light">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
      <!--For flash message when form submission has error-->
      {% with messages = get_flashed_messages(category_filter='message') %}
        {% if messages %}
          <div class="alert alert-primary text-center p-2" role="alert" style="margin: 0px;">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %} 
      {% with messages = get_flashed_messages(category_filter='error') %}
        {% if messages %}
          <div class="alert alert-danger text-center p-2" role="alert" style="margin: 0px;">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %} 

      {% block head %}
      {% endblock %}
    </header>

    <main>
      {% block main %}
      {% endblock %}
    </main>

    <footer>
      <p class="text-center">Developed by: Juliana Cortes</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
