{% extends 'base.html' %}

{% import 'bootstrap5/form.html' as wtf %}

{% block main %}
<main class="row p-5 bg-light">
  <!-- customer's detail (left panel)-->
  {% if not user %}
    <div class="alert alert-danger">
      <!-- <strong>Please log in before submitting your booking</strong>. -->
      <strong>Please log in before completing your details</strong>.
    </div>
  {% endif %}
    <div class="col-12 col-lg-6">
      <div class="card">
        <h1 class="ms-4 mt-4"><strong>Client Details</strong></h1>
        <!-- <h4 class="ms-4 mt-4">Please log in before completing your details</h4> -->
        <form class="row g-3 p-4" method="POST">
          {{ form.hidden_tag() }}
          <div class="col-md-12">
            {{ wtf.render_field(form.full_name, readonly=readonly) }}
          </div>
          <div class="col-md-6">
            {{ wtf.render_field(form.email, readonly=readonly) }}
          </div>
          <div class="col-md-6">
            {{ wtf.render_field(form.phone, readonly=readonly) }}
          </div>
          <div class="col-12">
            {{ wtf.render_field(form.address) }}
          </div>
          
          <div class="col-12 pt-4 border-top">
            <h4>Select a payment method</h4>
            {{ wtf.render_field(form.payment_method) }}
          </div>
          <div class="col-12">
              {{ wtf.render_field(form.checkout_submit,  class="btn button-style") }}
          </div>
        </form>
      </div>
    </div>

  <!-- order summary pnnel (right panel)-->
  <div class="col-12 col-lg-6 mt-4 mt-lg-0">
    <div class="card">
      <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="mb-3">Order Summary</h5>
        {% if cart.items %}
        <form action="{{ url_for('main.clear_cart') }}" method="post" class="d-inline">
          <button type="submit" class="btn btn-outline-danger btn-sm">Clear Cart</button>
        </form>
        {% endif %}
      </div>
        <!--cart item START-->
        {% if cart.items %}
          <ul class="list-unstyled mb-3" id="summary-list">
            {% for it in cart.items %}
            <li class="mb-3 p-2 border rounded-3"
                data-id="{{ it.id }}" data-unit="{{ (it.unit_price or 0)|float }}">

              <div class="row row-cols-1 row-cols-sm-3">
                  <!-- cart item image -->
                  <div class="order-img-con col">
                    <img src="{{ url_for('static', filename='img/' ~ it.service.coverImage) }}"
                          alt="{{ it.service.name or 'item' }}"
                          class="order-summary-img"
                    >
                  </div>
                  <!-- cart item info -->
                  <div class="col order-info-con">
                    <!-- service -->
                    <div class="order-price  flex-column flex-sm-row ">
                      <p class="fw-semibold">#{{ loop.index }} {{ it.service.name }}</p>
                      <p class="text-muted small">${{ '%.2f'|format((it.service.price)|float) }}</p>
                    </div>
                    <div class="mb-3">
                      <p>{{ it.photographer.firstName }} {{ it.photographer.lastName }}</p>
                      <p>({{ it.photographer.availability }})</p>
                    </div>
                    <!-- details -->  
                    <div class="text-muted small order-price flex-column flex-sm-row ">
                      <p>Type: {{ it.type.name }}</p>
                      <p>${{ '%.2f'|format((it.type.price)|float) }}</p>
                    </div>
                    {% if it.addon %}
                      <div class="text-muted small order-price flex-column flex-sm-row ">
                        <p>Add-on: {{ it.addon.addOn }}</p>
                        <p>${{ '%.2f'|format((it.addon.price)|float) }}</p>
                      </div>
                    {% endif %}
                  </div>
                  <!-- subtotal & close button -->
                  <div class="d-flex align-items-center justify-content-between justify-content-md-end gap-2 ms-1">
                    <div class="text-end order-subtotal">
                      <div class="fw-semibold">{{"$%.2f"|format(it.subtotal|float)}}</div>
                    </div>
                    <form action="{{ url_for('main.cart_remove') }}" method="post" class="m-0 remove-form">
                      <input type="hidden" name="item_id" value="{{ it.id }}">
                      <button class="btn btn-outline-danger btn-sm" title="Remove">×</button>
                    </form>
                  </div>
                </div>

            </li>
            {% endfor %}
          </ul>
          <hr>
        {% else %}
          <div class="text-muted mb-4">Your order list is empty. Please select a service to continue!</div>
        {% endif %}
        <!--cart item END-->
        <div class="d-flex justify-content-between">
          <span class="fw-semibold">Total</span>
          <span class="fw-semibold" id="summary-total">{{"$%.2f"|format(total_cost|float)}} </span>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
