.main-header {
  text-align: center;
}

.card {
  flex-basis: 18rem;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.header-bg {
  height: 20rem;
  background-image: url("../img/alif-ngoylung-jg-6ARMiaPM-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(17, 13, 49, 0.73);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.portfolio img {
  height: 10rem;
  margin: .5rem;
}


/* For item_details page */
.dropdown-for-type {
  border: 1px solid #dee2e6;
  color: black;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-for-addon{
  width: 100%;
  height: fit-content;
}

.checkbox-for-addon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dee2e6;
  border-radius: 100%;
  background-color: white;
  width: 25px;
  height: 25px;
}

